
@mixin screenSizeWidth($screenSizeWidth)
{ 
    @if($screenSizeWidth > 1024px){
        @media screen and (min-width: $screenSizeWidth) {
            div{
                &:nth-child(1), &:nth-child(2), &:nth-child(3){
                    &:hover{
                        margin-top: 100px;
                    }
                } 
            }
        }
    }
    
    @else if($screenSizeWidth > 768px){ 
        @media screen and (min-width: $screenSizeWidth){
        div{
            &:nth-child(1), &:nth-child(2){
                &:hover{
                    margin-top: 100px;
                    }
                } 
            }
        }
    }

    @else if($screenSizeWidth > 425px){
        @media screen and (min-width: $screenSizeWidth){
        div{
            &:nth-child(1), &:nth-child(2){
                &:hover{
                    margin-top: 100px;
                    }
                } 
            }
        }
    }

    @else if($screenSizeWidth > 375px){
        @media screen and (min-width: $screenSizeWidth){
        div{
            &:nth-child(1){
                &:hover{
                    margin-top: 150px;
                    }
                }
            &:nth-child(2){
                &:hover{
                    margin-top: 100px;
                    }
                } 
            }
        }
    }

    @else if($screenSizeWidth > 320px){
        @media screen and (min-width: $screenSizeWidth) {
        div{
            &:nth-child(1){
                &:hover{
                    margin-top: 180px;
                    }
                }
            &:nth-child(2){
                &:hover{
                    margin-top: 120px;
                    }
                } 
            }
        }
    }

    @else if($screenSizeWidth > 280px){
        @media screen and (min-width: $screenSizeWidth) {
        div{
            &:nth-child(1){
                &:hover{
                    margin-top: 310px;
                    }
                }
            &:nth-child(2){
                &:hover{
                    margin-top: 230px;
                    }
                } 
            }
        }
    }

    @else{
        @media screen and (min-width: $screenSizeWidth) {
        div{
            &:nth-child(1){
                &:hover{
                    margin-top: 450px;
                    }
                }
            &:nth-child(2){
                &:hover{
                    margin-top: 360px;
                    }
                } 
            }
        }
    }
}